/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: 'Proxima Nova', sans-serif;

}


#MainTable {
    
    background: transparent;
}

body {

    background-size: cover;
    min-height: 100vh;

}

