{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h2>History</h2>
<p>Debug: {{ usd }}</p> <!-- Debug statement -->
<table class="table table-bordered table-striped table-transparent" id = "MainTable">
    <thead class="thead-light">
    <tr>
      <th>Transaction Type</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Shares</th>
      <th>Total</th>
      <th>Date and Time</th>

    </tr>
    </thead>
    <tbody>
      {% for transaction in transactions%}
        <tr>
          <td>{{transaction.transaction_type}}</td>
          <td>{{transaction.stock_symbol}}</td>
          <td>{{transaction.price_per_share | usd}}</td>
          <td>{{transaction.shares}}</td>
          <td>{{transaction.total | usd}}</td>
          <td>{{transaction.timestamp}}</td>
        </tr>
     {% endfor %}
  </table>
    {% endblock %}
